<!DOCTYPE html>
<html>
	<head>
		<title>Troca de Livros</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui center aligned raised segments text container" id="top">
			<div class="ui segment">
				<img src="<%= profile.picture %>" class="ui centered circular small image"/>
				Contact Info
				<p><%= profile.email %></p>
				<p>
					Last activity:
					<strong><%= lastseen %></strong>
					<br>
					Member since
					<strong><%= since %></strong>
				</p>
			</div>
			<div class="ui segment">
				<% if(profile.books.length > 0) { %>
					<p><%= profile.books %></p>
				<% } else { %>
					<p>User has no books associated with account.</p>
				<% } %>
			</div>
		</div>

		<% include ../snippets/footer %>
		<% include ../snippets/JS %>
	</body>
</html>
