<!DOCTYPE html>
<html>
	<head>
		<title>Troca de Livros</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui container" id="top">
			<img src="/favicon.ico" class="ui centered small image"/>
		</div>

		<div class="ui container">
			<% if(message.length > 0) { %>
				<div class="ui text container">
					<div class="ui message">
						<i class="close icon"></i>
						<div class="header">
							Done!
						</div>
						<p><%= message %></p>
					</div>
				</div>
			<% } %>

			<div class="ui raised segments styled fluid accordion">
				<div class="active title">
					<i class="dropdown icon"></i>
					User Settings
				</div>
				<div class="active content">
					<form class="ui equal width form" action="/profile/update" method="post">
						<div class="ui stackable grid segment">
							<div class="four wide column">
								<img src="<%= user.picture %>" class="ui centered small circular image"/>
							</div>
							<div class="twelve wide column">
								<div class="fields">
									<div class="field">
										<label>Picture</label>
										<% if(user.picture == undefined || user.picture === "/img/profile.jpg") { %>
											<input type="text" placeholder="Your picture url" name="picture">
										<% } else { %>
											<input type="text" placeholder="Your picture url" name="picture" value="<%= user.picture %>">
										<% } %>
									</div>
									<div class="field">
										<label>E-mail</label>
										<input required type="email" placeholder="User e-mail" name="email" value="<%= user.email %>" readonly="">
									</div>
								</div>
								<div class="fields">
									<div class="field">
										<label>City</label>
										<input type="text" placeholder="User city" name="city" value="<%= user.city %>">
									</div>
									<div class="field">
										<label>Phone</label>
										<input type="tel" placeholder="User phone number" name="phone" value="<%= user.phone %>">
									</div>
								</div>
								<div class="fields">
									<div class="field">
										<button class="ui fluid green button" type="submit" value="update" name="update">Update Information</button>
									</div>
									<div class="field">
										<div class="fields">
											<div class="field">
												<button class="ui fluid orange button" type="submit" value="deletebooks" name="update" onclick="return confirm('Are you sure you want to delete all books? There is no going back.')">Delete all books</button>
											</div>
											<div class="field">
												<button class="ui fluid negative button" type="submit" value="deleteaccount" name="update" onclick="return confirm('Are you sure you want to delete your account? There is no going back.')">Delete account</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="title">
					<i class="dropdown icon"></i>
					Pending requests
				</div>
				<div class="content">
					<div class="ui relaxed divided items">
						<% if(!requested || 0 === requested.length || requested === "") { %>
							<div class="item">
								<div class="content">
									<a class="header">
										<span>Woops!</span>
									</a>
									<div class="meta">
										<span>No user has requested a book from you... yet!</span>
									</div>
									<div class="description">
										<p>
											Have you tried adding more? Click the add button!
										</p>
									</div>
									<div class="extra">
										<button class="ui left floated positive button">
											<i class="plus icon"></i>
											Add Book
										</button>
									</div>
								</div>
							</div>
						<% } else { %>
							<div class="item">
								<p><%= requested %></p>
							</div>
							<!--Show all requests -->
						<% } %>
					</div>
				</div>

				<div class="title">
					<i class="dropdown icon"></i>
					User owned books
				</div>
				<div class="content">
					<div class="ui items">
						<% if(!user.books || 0 === user.books.length || user.books === "") { %>
							<div class="item">
								<div class="content">
									<a class="header">
										<span>Woops!</span>
									</a>
									<div class="meta">
										<span>You have not added any books yet..</span>
									</div>
									<div class="description">
										<p>
											To start adding books to your collection, click the add button!
										</p>
									</div>
									<div class="extra">
										<button class="ui left floated positive button">
											<i class="plus icon"></i>
											Add Book
										</button>
									</div>
								</div>
							</div>
						<% } else { %>
							<p><%= user.books %></p>
							<!-- Show all books -->
						<% } %>
					</div>
				</div>
			</div>
		</div>
		<% include ../snippets/footer %>
		<% include ../snippets/JS %>
		<script src="/js/profile.authenticated.js"></script>
	</body>
</html>
