<!DOCTYPE html>
<html>
	<head>
		<title>Troca de Livros</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui container" id="top">
			<% if(message.length > 0) { %>
				<div class="ui text container">
					<div class="ui message">
						<i class="close icon"></i>
						<div class="header">
							Done!
						</div>
						<p><%= message %></p>
					</div>
				</div>
			<% } %>

			<div class="ui raised segments styled fluid accordion">
				<% var hasPendingRequests = !(!requested || 0 === requested.length || requested === "") %>
				<div class="title">
					<i class="dropdown icon"></i>
					Pending requests
					<% if(hasPendingRequests) { %>
						<div class="horizontal ui red label">
							<% var pending = 0; %>
							<% for (var i = 0; i < requested.length; i++) { %>
								<% pending += requested[i].requested.length %>
							<% } %>
							<%= pending %>
						</div>
					<% } %>
				</div>
				<div class="content">
					<div class="ui relaxed divided items">
						<% if(!hasPendingRequests) { %>
							<div class="item">
								<div class="content">
									<a class="header">
										<span>Woops!</span>
									</a>
									<div class="meta">
										<span>No user has requested a book from you... yet!</span>
									</div>
									<div class="description">
										<p>
											Have you tried adding more? Click the add button!
										</p>
									</div>
									<div class="extra">
										<a class="ui left floated positive button" href="/profile/add/book">
											<i class="plus icon"></i>
											Add Book
										</a>
									</div>
								</div>
							</div>
						<% } else { %>
							<!--Show all requests -->
							<div>
								<% for (var i = 0; i < requested.length; i++) { %>
									<% requestedbook = requested[i].book %>
									<div class="ui fluid card" id="<%= requestedbook._id%>">
										<div class="content" style="padding-bottom: 0;">
											<div class="header">
												<a href="/book/<%= requestedbook.link %>" target="_blank"><%= requestedbook.title %></a>
											</div>

											<% if(requestedbook.thumbnail) { %>
												<a href="/book/<%= requestedbook.link %>">
													<div class="ui left floated image">
														<img src="<%= requestedbook.thumbnail %>">
													</div>
												</a>
											<% } %>

											<% if(requestedbook.pageCount) { %>
												<div class="meta">
													<span>P.
														<%= requestedbook.pageCount %></span>
												</div>
											<% } %>

											<% if(requestedbook.authors) { %>
												<% requestedbook.authors.forEach(author => { %>
													<div class="meta">
														<a><%= author %></a>
													</div>
												<% }); %>
											<% } %>

											<div class="meta">
												<span><%= requestedbook.publishedDate %></span>
											</div>

											<% if(requestedbook.categories) { %>
												<% requestedbook.categories.forEach(category => { %>
													<div class="extra content">
														<a><%= category %></a>
													</div>
												<% }); %>
											<% } %>
										</div>
										<div class="extra content">
											<div class="description">
												<% if(requestedbook.description) { %>
													<% if(requestedbook.description.length > 500) { %>
														<p>
															<%= requestedbook.description.substring(0,500) %>&hellip;
														</p>
													<% } else { %>
														<p>
															<%= requestedbook.description %>
														</p>
													<% } %>
												<% } %>
											</div>
										</div>

										<div class="extra content">
											<div class="ui center aligned four column doubling stackable grid">
												<% for(var j = 0; j < requested[i].requested.length; j++) { %>
													<% var by = requested[i].requested[j].by %>
													<% var when = requested[i].requested[j].when %>

													<form action="/profile/delete/request/" method="POST" class="column item" id="<%= requested[i].requested[j]._id %>">
														<div class="content">
															<p>
																<a href="/profile/<%= by.link %>" target="_blank">
																	<img class="ui bordered avatar image" src="<%= by.picture %>"/>
																</a>

																<a href="mailto:<%= by.email %>" target="_top">
																	<%= by.email %></a>
															</p>
															<p><%= by.city %></p>
															<p><%= by.phone %></p>
															<p>
																<span><%= when.toLocaleDateString() %></span>
																<span>-</span>
																<span><%= when.toLocaleTimeString() %></span>
															</p>

															<input style="display: none;" value="<%= requested[i].requested[j]._id %>" name="requestedID">
															<input style="display: none;" value="<%= requested[i]._id %>" name="bookID">
															<button class="ui button" type="button" onclick="deleteRequest('<%= requested[i].requested[j]._id %>')">
																Delete Request
															</button>
														</div>
													</form>
												<% } %>
											</div>
										</div>
									</div>
								<% } %>
							</div>
						<% } %>
					</div>
				</div>
				<% var hasOwnedBooks = !(!user.books || 0 === user.books.length || user.books === "") %>
				<div class="title">
					<i class="dropdown icon"></i>
					User owned books

					<% if(hasOwnedBooks) { %>
						<div class="horizontal ui teal label" id="bookslength">
							<%= user.books.length %>
						</div>
					<% } %>
				</div>
				<div class="content">
					<% if(!hasOwnedBooks) { %>
						<div class="ui items">
							<div class="item">
								<div class="content">
									<a class="header">
										<span>Woops!</span>
									</a>
									<div class="meta">
										<span>You have not added any books yet..</span>
									</div>
									<div class="description">
										<p>
											To start adding books to your collection, click the add button!
										</p>
									</div>
									<div class="extra">
										<a class="ui left floated positive button" href="/profile/add/book">
											<i class="plus icon"></i>
											Add Book
										</a>
									</div>
								</div>
							</div>
						</div>
					<% } else { %>
						<!-- Show all books -->
						<!-- Only show 6 books, rest go to user library -->
						<div class="ui centered raised doubling cards">
							<% var alreadyUsedIndex = [] %>
							<% for (var i = 0; i < user.books.length && i < 6; i++) { %>

								<%
									function getRandomInt(min, max) {
									  return Math.floor(Math.random() * (max - min)) + min;
									}

									var j = 0; var indexFound = false;
								%>

								<% do { var j = getRandomInt(0, user.books.length);
									 if(alreadyUsedIndex.indexOf(j) === -1) {alreadyUsedIndex.push(j); indexFound = true;
									 }
								 } while(!indexFound); %>

								<% book = user.books[j].book %>

								<div class="card" id="<%= book._id%>">
									<div class="content" style="padding-bottom: 0;">
										<div class="header">
											<a href="/book/<%= book.link %>" target="_blank"><%= book.title %></a>
										</div>

										<% if(book.thumbnail) { %>
											<a href="/book/<%= book.link %>">
												<div class="ui left floated image">
													<img src="<%= book.thumbnail %>">
												</div>
											</a>
										<% } %>

										<% if(book.pageCount) { %>
											<div class="meta">
												<span>P.
													<%= book.pageCount %></span>
											</div>
										<% } %>

										<% if(book.authors) { %>
											<% book.authors.forEach(author => { %>
												<div class="meta">
													<a><%= author %></a>
												</div>
											<% }); %>
										<% } %>

										<div class="meta">
											<span><%= book.publishedDate %></span>
										</div>

										<% if(book.categories) { %>
											<% book.categories.forEach(category => { %>
												<div class="extra content">
													<a><%= category %></a>
												</div>
											<% }); %>
										<% } %>
									</div>
									<div class="extra content">
										<div class="description">
											<% if(book.description) { %>
												<% if(book.description.length > 250) { %>
													<p>
														<%= book.description.substring(0,250) %>&hellip;
													</p>
												<% } else { %>
													<p>
														<%= book.description %>
													</p>
												<% } %>
											<% } %>
										</div>
									</div>
									<div class="ui bottom attached buttons">
										<div class="ui disabled secondary button">
											<i class="edit icon"></i>
											Edit Book
										</div>
										<div class="ui red button" onclick="deleteBook('<%= book._id %>')">
											<i class="delete icon"></i>
											Delete
										</div>
									</div>
								</div>
							<% } %>
						</div>
					<% } %>
					<br>
					<div class="ui grid">
						<div class="sixteen wide column" style="text-align: center">
							<a href="/profile/library" class="ui primary disabled button">Go to user library</a>
						</div>
					</div>
				</div>

				<div class="active title">
					<i class="dropdown icon"></i>
					User Settings
				</div>
				<div class="active content">
					<form class="ui equal width form" action="/profile/update" method="post">
						<div class="ui stackable grid segment">
							<div class="middle aligned center aligned four wide column">
								<div class="ui medium circular bordered image" id="imgdim">
									<div class="ui dimmer">
										<div class="content">
											<div class="center">
												<a href="http://www.gravatar.com" target="_blank" class="ui blue button">
													Gravatar
												</a>
											</div>
										</div>
									</div>
									<img src="<%= user.picture %>"/>
								</div>
							</div>
							<div class="twelve wide column">
								<div class="fields">
									<div class="field">
										<% if(user.picture == undefined || user.picture === "/img/profile.jpg" || user.picture.includes('//www.gravatar.com')) { %>
											<label>Picture
												<a class="horizontal ui teal label" href="http://www.gravatar.com" target="_blank">Using Gravatar</a>
											</label>

											<input type="text" placeholder="Your picture url" name="picture">
										<% } else { %>
											<label>Picture</label>
											<input type="text" placeholder="Your picture url" name="picture" value="<%= user.picture %>">
										<% } %>
									</div>
									<div class="field">
										<label>E-mail</label>
										<input required type="email" placeholder="User e-mail" name="email" value="<%= user.email %>" readonly="">
									</div>
								</div>
								<div class="fields">
									<div class="field">
										<label>City</label>
										<input type="text" placeholder="User city" name="city" value="<%= user.city %>">
									</div>
									<div class="field">
										<label>Phone</label>
										<input type="tel" placeholder="User phone number" name="phone" value="<%= user.phone %>">
									</div>
								</div>
								<div class="inline fields">
									<div class="field">
										<div class="ui checkbox">
											<label for="publicInformation">Show Phone Number</label>
											<input class="hidden" tabindex="0" type="checkbox" name="publicInformation" <% if(user.configs.publicInformation) {%> checked <% } %>/>
										</div>
									</div>
									<!--<div class="field">
										<div class="ui disabled checkbox">
											<label for="showSocialMedia">Show Social Media</label>
											<input class="hidden" tabindex="0" type="checkbox" name="showSocialMedia"/>
										</div>
									</div>-->
									<div class="field">
										<div class="ui checkbox">
											<label for="hideDescription">Hide description</label>
											<input class="hidden" tabindex="0" type="checkbox" name="hideDescription" <% if(user.configs.hideDescription) {%> checked <% } %>/>
										</div>
									</div>
									<div class="field">
										<div class="ui selection dropdown">
											<input type="hidden" name="theme">
											<i class="dropdown icon"></i>
											<div class="default text">
												Default Theme
											</div>
											<div class="menu">
												<div class="item" data-value="1">Default Theme</div>
												<div class="item" data-value="2">Deep Blush</div>
												<div class="item" data-value="3">Dark Theme</div>
											</div>
										</div>
									</div>
								</div>
								<div class="fields">
									<div class="field">
										<label>Description</label>
										<textarea rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 128px;" name="description" placeholder="Description"><%= user.description %></textarea>
									</div>
								</div>
								<div class="fields">
									<div class="field">
										<button class="ui fluid green button" type="submit" value="update" name="update">Update Information</button>
									</div>
									<div class="field">
										<div class="fields">
											<div class="field">
												<button class="ui fluid orange disabled button" type="submit" value="deletebooks" name="update" onclick="return confirm('Are you sure you want to delete all books? There is no going back.')">Delete all books</button>
											</div>
											<div class="field">
												<button class="ui fluid negative button" type="submit" value="deleteaccount" name="update" onclick="return confirm('Are you sure you want to delete your account? There is no going back.')">Delete account</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<% include ../snippets/footer %>
		<% include ../snippets/JS %>
		<script src="/js/profile.authenticated.js"></script>
		<script type="text/javascript">
			$('.selection.dropdown').dropdown('set selected', <%= user.configs.theme %>);
		</script>
	</body>
</html>
