<!DOCTYPE html>
<html>
	<head>
		<title>fcc-booktrading</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui center aligned raised segments text container" id="top">
			<div class="ui segment">
				<h4><%= profile.email %></h4>
				/profile/<%= profile.link %>
			</div>

			<div class="ui segment">
				<img src="<%= profile.picture %>" class="ui centered circular bordered small image"/>
				<address>
					Contact Info
					<br>
					<%= profile.email %><br>
					<strong><%= profile.city %></strong>
					<% if(profile.configs.publicInformation) { %>
						<br>
						<strong><%= profile.phone %></strong>
					<% } %>
				</address>

				<p>
					<br>
					Last activity:
					<strong><%= lastseen %></strong>
					<br>
					Member since
					<strong><%= since %></strong>
				</p>
				<% if(profile.description) { %>
					<% if(!profile.configs.hideDescription) { %>
						<h4 class="ui horizontal divider header">
							<i class="tag icon"></i>
							Description
						</h4>
						<code><%= profile.description %></code>
					<% } %>
				<% } %>
			</div>
		</div>
		<div class="ui container">
			<% if(profile.books.length > 0) { %>
				<div class="ui centered raised doubling cards">
					<% var alreadyUsedIndex = [] %>
					<% for (var i = 0; i < profile.books.length && i < 9; i++) { %>

						<%
							function getRandomInt(min, max) {
							  return Math.floor(Math.random() * (max - min)) + min;
							}

							var j = 0; var indexFound = false;
						%>

						<% do { var j = getRandomInt(0, profile.books.length);
							 if(alreadyUsedIndex.indexOf(j) === -1) {alreadyUsedIndex.push(j); indexFound = true;
							 }
						 } while(!indexFound); %>

						<% book = profile.books[j].book %>
						<div class="card" style=" text-align: left;">
							<div class="content" style="padding-bottom: 0;">
								<div class="header">
									<a href="/book/<%= book.link %>" target="_blank"><%= book.title %></a>
								</div>

								<% if(book.thumbnail) { %>
									<a href="/book/<%= book.link %>">
										<div class="ui left floated image">
											<img src="<%= book.thumbnail %>">
										</div>
									</a>
								<% } %>

								<% if(book.pageCount) { %>
									<div class="meta">
										<span>P.
											<%= book.pageCount %></span>
									</div>
								<% } %>

								<% if(book.authors) { %>
									<% book.authors.forEach(author => { %>
										<div class="meta">
											<a><%= author %></a>
										</div>
									<% }); %>
								<% } %>

								<div class="meta">
									<span><%= book.publishedDate %></span>
								</div>

								<% if(book.categories) { %>
									<% book.categories.forEach(category => { %>
										<div class="extra content">
											<a><%= category %></a>
										</div>
									<% }); %>
								<% } %>
							</div>
						</div>
					<% } %>
				</div>
			<% } else { %>
				<div style="text-align: center;">
					<p>User has no books associated with account.</p>
				</div>
			<% } %>
		</div>

		<% include ../snippets/footer %>
		<% include ../snippets/JS %>
	</body>
</html>
